body {
    background-color: rgb(227, 250, 215);
}



/* Style for the entire table */
table {
    border: 1px solid black; 
    border-collapse: collapse; 
}

/* Style for table headers and data cells */
th, td {
    border: 1px solid black; 
    padding: 15px; /* Space inside each cell */
    text-align: left; /* Align text to the left */
    vertical-align: middle; /* Align text vertically in the middle */
    line-height: 1.5; 
}
